<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1  shrink-to-fit=no">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!--<%/*   include include.ejs  */%>-->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--<script src="https://code.jquery.com/jquery-2.x-git.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">



    <title>Điện lực Thủ Đức</title>
    <style type="text/css">
        .example{
            margin: 10px;
        }
    </style>

</head>

<body>
<!--<%# include nav.ejs %>-->
<nav class="navbar sticky-top navbar-expand-sm" style="background-color: #1F3A93">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    </button>
    <a class="text-white navbar-brand" href="">HỆ THỐNG QUẢN LÍ ĐIỆN NĂNG THÔNG MINH
        <div class="text-center">KHU VỰC THỦ ĐỨC</div>
    </a>
    <div class="navbar-collapse navbar-brand" id="navbarTogglerDemo03">
        <form class="form-inline ml-auto">
            <input class="form-control mr-sm-2" type="search" aria-label="Search">
            <button class="btn my-2 my-sm-0" type="submit" style="background-color: #fff">Tìm kiếm</button>
        </form>
        <ul class="navbar-nav ml-4 ml-auto">
            <!--<li class=" dropdown">-->
                <!--<a class="nav-link dropdown-toggle text-white"  href="#" id="navbardrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                    <!--Cài đặt-->
                <!--</a>-->
                <!--<div class="dropdown-menu" >-->
                    <!--<a class="dropdown-item" href="#">Định mức sử dụng điện</a>-->
                <!--</div>-->
            <!--</li>-->

            <li class="text-white">
                <a class="nav-link text-white" href="#" data-toggle="modal" type="link" data-target="#Modal_thongbao" style="font-size: medium">Gửi thông báo</a>
            </li>
            <li class="text-white">
                <a class="nav-link text-white" href="#" data-toggle="modal" type="link" data-target="#Modal_ThemKhachHang" style="font-size: medium">Thêm khách hàng</a>
            </li>
            <li class="text-right">
                <a class="nav-link text-white" style="font-size: medium" href="">Đăng xuất</a>
            </li>
        </ul>

    </div>
</nav>
    <div class="container-fluid position-static" style="background-color: #fffebb" >
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <h3>Pha 1</h3>
                </div>
            </div>
            <!--<div class="col-sm-3 card">-->
                <!--<p class="text-center">Điện áp</p>-->
                <!--<h4 id='voltage' class="text-center">220 V</h4>-->
            <!--</div>-->
            <div class=" col-sm-4 card">
                <p class="text-center">Dòng điện tổng</p>
                <h4 id='current' class="text-center">63 A</h4>
            </div>
            <div class="col-sm-4 card">
                <p  class="text-center"> Công suất tổng</p>
                <h4 id='power' class="text-center">456544 KW</h4>
            </div>
            <div class="col-sm-4 card">
                <p  class="text-center"> Tổng điện năng tiêu thụ</p>
                <h4 id='energy' class="text-center">345678 KWh</h4>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <h3>Pha 2</h3>
                </div>
            </div>
            <!--<div class="col-sm-3 card">-->
                <!--<p class="text-center">Điện áp</p>-->
                <!--<h4 id='voltage_2' class="text-center">230 V</h4>-->
            <!--</div>-->
            <div class=" col-sm-4 card">
                <p class="text-center">Dòng điện tổng</p>
                <h4 id='current_2' class="text-center">40 A</h4>
            </div>
            <div class="col-sm-4 card">
                <p  class="text-center"> Công suất tổng</p>
                <h4 id='power_2' class="text-center">23424 KW</h4>
            </div>
            <div class="col-sm-4 card">
                <p  class="text-center"> Tổng điện năng tiêu thụ</p>
                <h4 id='energy_2' class="text-center">34353 KWh</h4>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <h3>Pha 3</h3>
                </div>
            </div>
            <!--<div class="col-sm-3 card">-->
                <!--<p class="text-center">Điện áp</p>-->
                <!--<h4 id='voltage_3' class="text-center">240 V</h4>-->
            <!--</div>-->
            <div class=" col-sm-4 card">
                <p class="text-center">Dòng điện tổng</p>
                <h4 id='current_3' class="text-center">84 A</h4>
            </div>
            <div class="col-sm-4 card">
                <p  class="text-center"> Công suất tổng</p>
                <h4 id='power_3' class="text-center">1456544 KW</h4>
            </div>
            <div class="col-sm-4 card">
                <p  class="text-center"> Tổng điện năng tiêu thụ</p>
                <h4 id='energy_3' class="text-center">5443678 KWh</h4>
            </div>
        </div>
    </div>
    <br >
    <div class="container-fluid" style="background-color: #fffebb">
        <div class="row">
            <div class="col-12 card" style="background-color: #e9eeff">
                <div class="panel">
                    <h3 class="text-center" style="color: blue">Danh sách khách hàng</h3>
                </div>
                <div class="panel">
                    <div class="list-group">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col" class="text-center">Số TT</th>
                                <th scope="col" class="text-center">Mã khách hàng</th>
                                <th scope="col" class="text-center">Họ và tên</th>
                                <th scope="col" class="text-center">Điện năng tiêu thụ (kWh)</th>
                                <th scope="col" class="text-center">Tổng tiền (VNĐ)</th>
                                <th scope="col" class="text-center">Trạng thái</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row" class="text-center">1</th>
                                <td class="text-center">PK124645</td>
                                <td class="text-center">Phạm A</td>
                                <td class="text-center">230</td>
                                <td class="text-center">350,000</td>
                                <td class="text-center">Đã thanh toán</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-center">2</th>
                                <td class="text-center">PK12456535</td>
                                <td class="text-center">Trần B</td>
                                <td class="text-center">258</td>
                                <td class="text-center">470,000</td>
                                <td class="text-center">Chưa thanh toán</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-center">3</th>
                                <td class="text-center">PK12463225</td>
                                <td class="text-center">Nguyễn Hoài Nam</td>
                                <td class="text-center">150</td>
                                <td class="text-center">270,000</td>
                                <td class="text-center">Đã thanh toán</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-center">4</th>
                                <td class="text-center">PK010000125</td>
                                <td class="text-center">Nguyễn C</td>
                                <td class="text-center">195</td>
                                <td class="text-center">298,000</td>
                                <td class="text-center">Chưa thanh toán</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-center">5</th>
                                <td class="text-center">PKB5435433</td>
                                <td class="text-center">Hồ D</td>
                                <td class="text-center">344</td>
                                <td class="text-center">456,000</td>
                                <td class="text-center">Đã thanh toán</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-center">6</th>
                                <td class="text-center">PKG26666425</td>
                                <td class="text-center">Lê E</td>
                                <td class="text-center">298</td>
                                <td class="text-center">398,000</td>
                                <td class="text-center">Chưa thanh toán</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-4 card">
                <div class="panel" style="background-color: #fffebb">
                    <h3 class="text-center" style="color: blue">Thông báo nội bộ</h3>
                </div>
                <div class="panel">
                    <div class="list-group">
                        <div>
                            <label> <span class="fas fa-angle-double-right"></span> screen it might look better with the content organized in three columns, but on a small screen it would be better if the content items were stacked on top of each other.</label>
                        </div>
                        <div>
                            <label >  <span class="fas fa-angle-double-right"></span> Bootstrap's grid system is responsive, and the columns will re-arrange depending on the screen size: On a big screen it might look better with the content organized in three columns, but on a small screen it would be better if the content items were stacked on top of each other.</label>
                        </div>
                        <div>
                            <label> <span class="fas fa-angle-double-right"></span> Bootstrap's grid system is responsive, and the columns will re-arrange depending on the screen size: On a big screen it might look better with the content organized in three columns, but on a small screen it would be better if the content items were stacked on top of each other.</label>
                        </div>
                        <div>

                            <label> <span class="fas fa-angle-double-right"></span>Bootstrap's grid system is responsive, and the columns will re-arrange depending on the screen size: On a big screen it might look better with the content organized in three columns, but on a small screen it would be better if the content items were stacked on top of each other.</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 card">
                <div class="panel" style="background-color: #fffebb">
                    <h3 class="text-center" style="color: blue">Thông báo đã gửi</h3>
                </div>
                <div class="panel">
                    <div class="list-group">
                        <div>
                            <label> <span class="fas fa-angle-double-right"></span> screen it might look better with the content organized in three columns, but on a small screen it would be better if the content items were stacked on top of each other.</label>
                        </div>
                        <div>
                            <label >  <span class="fas fa-angle-double-right"></span> Bootstrap's grid system is responsive, and the columns will re-arrange depending on the screen size: On a big screen it might look better with the content organized in three columns, but on a small screen it would be better if the content items were stacked on top of each other.</label>
                        </div>
                        <div>
                            <label> <span class="fas fa-angle-double-right"></span> Bootstrap's grid system is responsive, and the columns will re-arrange depending on the screen size: On a big screen it might look better with the content organized in three columns, but on a small screen it would be better if the content items were stacked on top of each other.</label>
                        </div>
                        <div>

                            <label> <span class="fas fa-angle-double-right"></span>Bootstrap's grid system is responsive, and the columns will re-arrange depending on the screen size: On a big screen it might look better with the content organized in three columns, but on a small screen it would be better if the content items were stacked on top of each other.</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 card">
                <div class="panel" style="background-color: #fffebb">
                    <h3 class="text-center" style="color: blue">Phản hồi của khách hàng</h3>
                </div>
                <div class="panel">
                    <div class="list-group">
                        <div>
                            <label> <span class="fas fa-angle-double-right"></span> screen it might look better with the content organized in three columns, but on a small screen it would be better if the content items were stacked on top of each other.</label>
                        </div>
                        <div>
                            <label >  <span class="fas fa-angle-double-right"></span> Bootstrap's grid system is responsive, and the columns will re-arrange depending on the screen size: On a big screen it might look better with the content organized in three columns, but on a small screen it would be better if the content items were stacked on top of each other.</label>
                        </div>
                        <div>
                            <label> <span class="fas fa-angle-double-right"></span> Bootstrap's grid system is responsive, and the columns will re-arrange depending on the screen size: On a big screen it might look better with the content organized in three columns, but on a small screen it would be better if the content items were stacked on top of each other.</label>
                        </div>
                        <div>

                            <label> <span class="fas fa-angle-double-right"></span>Bootstrap's grid system is responsive, and the columns will re-arrange depending on the screen size: On a big screen it might look better with the content organized in three columns, but on a small screen it would be better if the content items were stacked on top of each other.</label>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="nav">-->
                <!--<footer class="blockquote-footer">-->

                <!--</footer>-->
            <!--</div>-->
        </div>
    </div>
<div style="background-color:  #080753">
    <footer>
        <p class="text-center text-white">Tổng công ty Điện lực Hiến - Nghĩa - Nam</p>
        <p class="text-center text-white">Thông tin liên hệ: <a href="mailto:namnguyen260596@gmail.com">namnguyen260596@gmail.com</a>.</p>
        <p class="text-center text-white">Số điện thoại trực tuyến: <a href="">0968787976</a>.</p>

    </footer>
</div>
<!--modal gui thong bao-->
<div class="modal fade" id="Modal_thongbao" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thông báo mới</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Thông báo:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary">Gửi thông báo</button>
            </div>
        </div>
    </div>
</div>
<!--modal them khach hang-->
<div class="modal fade" id="Modal_ThemKhachHang" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thêm Khách hàng mới</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-lg" style="width: 150px">
                                <span class="input-group-text">Họ và tên</span>
                            </div>
                            <input type="text" aria-label="First name" class="form-control">
                        </div>
                        <div class="input-group">
                            <div class="input-group-lg" style="width: 150px">
                                <span class="input-group-text">Mã khách hàng</span>
                            </div>
                            <input type="text" aria-label="First name" class="form-control">
                        </div>
                        <div class="input-group">
                            <div class="input-group-lg" style="width: 150px">
                                <span class="input-group-text">Đia chỉ</span>
                            </div>
                            <input type="text" aria-label="First name" class="form-control">
                        </div>
                        <div class="input-group">
                            <div class="input-group-lg" style="width: 150px">
                                <span class="input-group-text">Email</span>
                            </div>
                            <input type="text" aria-label="First name" class="form-control">
                        </div>
                        <div class="input-group">
                            <div class="input-grouplg" style="width: 150px">
                                <span class="input-group-text">Số điện thoại</span>
                            </div>
                            <input type="text" aria-label="First name" class="form-control">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/bootstrap.js" ></script>

</body>
</html>
