<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1  shrink-to-fit=no">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!--<%/*   include include.ejs  */%>-->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--<script src="https://code.jquery.com/jquery-2.x-git.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

    <title>Tổng công ty Điện lực Hiến - Nghĩa - Nam</title>

</head>

<body background="IMAGE/nen.jpg">
<!--<%# include nav.ejs %>-->
<myMain id="myMain" hidden>
<nav class="navbar sticky-top navbar-expand-sm" style="background-color: #1F3A93">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    </button>
    <a class="text-white navbar-brand" href="">HỆ THỐNG QUẢN LÍ ĐIỆN NĂNG THÔNG MINH
        <div class="text-center">KHU VỰC MIỀN NAM</div>
    </a>
    <div class="navbar-collapse navbar-brand" id="navbarTogglerDemo03">
        <form class="form-inline ml-auto">
            <input class="form-control mr-sm-2" type="search" aria-label="Search">
            <button class="btn my-2 my-sm-0" type="submit" style="background-color: #fff">Tìm kiếm</button>
        </form>
        <ul class="navbar-nav ml-4 ml-auto">

            <li class="text-white">
                <a class="nav-link text-white" href="#" data-toggle="modal" type="link" data-target="#Modal_thongbao" style="font-size: medium">Gửi thông báo</a>
            </li>
            <li class="text-white">
                <a class="nav-link text-white" href="#" data-toggle="modal" type="link" data-target="#Modal_ThemKhachHang" style="font-size: medium">Thêm admin</a>
            </li>
            <li class="text-right">
                <a id="logout" class="nav-link text-white" style="font-size: medium" href="/login">Đăng xuất</a>
                <script>
                        document.getElementById("logout").onclick =
                        function()
                        {
                            firebase.auth().signOut();
                            console.log("After firebase.auth().signOut();");
                        }
                </script>
            </li>
        </ul>

    </div>
</nav>
<div class="container-fluid position-static" >
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                <h3>Chi nhánh Thủ Đức</h3>
            </div>
        </div>
        <div class=" col-sm-4 card">
            <p class="text-center">Dòng điện tổng</p>
            <h4 id='current' class="text-center">63 A</h4>
        </div>
        <div class="col-sm-4 card">
            <p  class="text-center"> Công suất tổng</p>
            <h4 id='power' class="text-center">456544 KW</h4>
        </div>
        <div class="col-sm-4 card">
            <p  class="text-center"> Tổng điện năng tiêu thụ</p>
            <h4 id='energy' class="text-center">345678 KWh</h4>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                <h3>Chi nhánh Gò Vấp</h3>
            </div>
        </div>
        <div class=" col-sm-4 card">
            <p class="text-center">Dòng điện tổng</p>
            <h4 id='current_2' class="text-center">40 A</h4>
        </div>
        <div class="col-sm-4 card">
            <p  class="text-center"> Công suất tổng</p>
            <h4 id='power_2' class="text-center">23424 KW</h4>
        </div>
        <div class="col-sm-4 card">
            <p  class="text-center"> Tổng điện năng tiêu thụ</p>
            <h4 id='energy_2' class="text-center">34353 KWh</h4>
        </div>

    </div>
</div>
<br >
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-8">
            <div class="row my-0">
                <div class="col-md-12" >
                    <div class="card">
                        <div class="card-body" >
                            <div id="chartContainer" style="height: 400px; width: 100%;">
                                <h2 class="text-center">BIỂU ĐỒ Ở ĐÂY</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 card ">
            <div class="panel">
                <h4 class="text-center" style="color: orangered">Thông báo</h4>
            </div>
            <div class="panel card">
                <div class="list-group" style="height: 550px;">
                    <div>
                        <label> <span class="fas fa-angle-double-right"></span><b>Thông báo 1</b><br>Các thông báo sẽ hiển thị ở đây theo thứ tự từ mới đến cũ</label>
                    </div>
                    <div>
                        <label> <span class="fas fa-angle-double-right"></span><b>Thông báo 2</b><br>Các thông báo sẽ hiển thị ở đây theo thứ tự từ mới đến cũ</label>
                    </div>
                    <div>
                        <label> <span class="fas fa-angle-double-right"></span><b>Thông báo 3</b><br>Các thông báo sẽ hiển thị ở đây theo thứ tự từ mới đến cũ. Các thông báo sẽ hiển thị ở đây theo thứ tự từ mới đến cũ. Các thông báo sẽ hiển thị ở đây theo thứ tự từ mới đến cũ. Các thông báo sẽ hiển thị ở đây theo thứ tự từ mới đến cũ. Các thông báo sẽ hiển thị ở đây theo thứ tự từ mới đến cũ. Các thông báo sẽ hiển thị ở đây theo thứ tự từ mới đến cũ</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div style="background-color:  #1F3A93;position: absolute" class="container-fluid">-->
    <!--<footer>-->
        <!--<p class="text-center text-white" style="padding-right: 60px;">Tổng công ty Điện lực Hiến - Nghĩa - Nam</p>-->
        <!--<p class="text-center text-white">Thông tin liên hệ: <a href="mailto:namnguyen260596@gmail.com">namnguyen260596@gmail.com</a>.</p>-->
        <!--<p class="text-center text-white" style="padding-right: 80px">Số điện thoại trực tuyến: <a href="">0968787976</a>.</p>-->
    <!--</footer>-->
<!--</div>-->

<nav class="navbar navbar-expand-xl" style="background-color: #e0a800">
    <p class="text-center text-white" style="padding-right: 60px;">Tổng công ty Điện lực Hiến - Nghĩa - Nam</p>
    <p class="text-center text-white">Thông tin liên hệ: <a href="mailto:namnguyen260596@gmail.com">namnguyen260596@gmail.com</a>.</p>
    <p class="text-center text-white" style="padding-right: 80px">Số điện thoại trực tuyến: <a href="">0968787976</a>.</p>
</nav>
<script type="text/javascript" src="js/bootstrap.js" ></script>
<!-- BEGIN USER MANAGE -->
<!-- <script src="https://www.gstatic.com/firebasejs/5.5.6/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.6/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.6/firebase-auth.js"></script> -->
<script src="script/firebasejs/5.5.6/firebase-app.js"></script>
<script src="script/firebasejs/5.5.6/firebase-database.js"></script>
<script src="script/firebasejs/5.5.6/firebase-auth.js"></script>
<script src="script/init.js"></script>

<script src='https://cdn.jsdelivr.net/npm/moment@2.22.2/moment.min.js'></script>
<script src="https://npmcdn.com/js-alert/dist/jsalert.min.js"></script>
<script src="script/admin1FrontEnd.js"></script>
<!-- END USER MANAGE -->
<!-- CHART -->
<!-- <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script> -->
<script src="js/canvasjs.min.js"></script>
<script src="script/myCanvasChart.js"> </script>
<!-- <script src="script/myCanvasChart_20181105_ThangNayThangTruoc_OkOkOk.js"> </script> -->
<!-- <script src="script/chart.js"></script> -->
<!-- HẾT CHART -->
</myMain>
<myWait id="myWait">
    <p style="font-size:42px; text-align:center; font-family:'Consolas' ">
            Vui lòng chờ<br>
            <a id="threeDots"></a>
    </p>
    <!-- script dấu 3 chấm -->
    <script src="script/threeDots.js"></script>            
</myWait>
</body>
</html>
