<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div>
	<p>Xin thông báo tiền điện tháng này của quý khách là 120.000 vnd</p>
	<p></p><<br>
	<p>Xin thông báo tháng này quý khách hiện chưa thanh toán tiền điện, vui lòng thanh toán trước ngày 20/10/2018 , nếu quá hạn quý khách không thanh toán thì phía chúng tôi sẽ cắt điện, ngừng cung cấp điện cho đến khi quý khách đóng </p>
	<
</div>
</body>
</html>